.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
    padding: 10px;
  }
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
  }  

  .gridContainer {
    width: 100%; /* Adjust the width as per your requirements */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .customDialog {
    width: 100% !important; /* Adjust the width of the Dialog */
    max-width: 1200px; /* Optional: Set a maximum width for the Dialog */
  }
  